@page "/counter"

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>
<AuthorizeView Policy="@DillonGodMode.SecurityGroupPolicyName">
    <Authorized>
        God Mode.
        <p role="status">Current count: @currentCount</p>

        <button class="btn btn-primary" @onclick="IncrementCount">Click me</button>
        <AuthorizeView Context="Test" Policy="@Test.SecurityGroupPolicyName">
            Test Mode.
        </AuthorizeView>
    </Authorized>
    <NotAuthorized>
        Not God Mode.
        <AuthorizeView Context="Test" Policy="@Test.SecurityGroupPolicyName">
            Test Mode.
        </AuthorizeView>
    </NotAuthorized>

</AuthorizeView>


@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
