<div class="top-row ps-3 pe-0 navbar sticky-top bg-light custom-nav">
    <div class="row custom-nav me-2">
        <div class="nav-item px-1 col">
            <NavLink class="nav-link" href="/" ActiveClass="rz-background-color-primary-lighter rounded-circle" Match="NavLinkMatch.All">
                <span class="oi oi-home rz-color-secondary" aria-hidden="true"></span>
            </NavLink>
        </div>
        <div class="nav-item px-1 col">
            <NavLink class="nav-link" href="charactercreation" ActiveClass="rz-background-color-primary-lighter rounded-circle" Match="NavLinkMatch.All">
                <span class="oi oi-beaker rz-color-secondary" aria-hidden="true"></span>
            </NavLink>
        </div>
        <div class="nav-item px-1 col">
            <NavLink class="nav-link" href="counter" ActiveClass="rz-background-color-primary-lighter rounded-circle" Match="NavLinkMatch.All">
                <span class="oi oi-plus rz-color-secondary" aria-hidden="true" ></span>
            </NavLink>
        </div>
    </div>
</div>

<style>
    .custom-nav{
        justify-content:end;
        text-align:end;
    }
</style>
