
 <a href="https://www.flaticon.com/free-icons/parchment" title="parchment icons">Parchment icons created by wanicon - Flaticon</a>
 https://www.flaticon.com/packs/fairytale-54?word=fantasy&style_id=997&family_id=252&group_id=294
<a href="https://www.flaticon.com/free-icons/fairytale" title="fairytale icons">Fairytale icons created by wanicon - Flaticon</a>
<a href="https://www.flaticon.com/free-icons/death" title="death icons">Death icons created by wanicon - Flaticon</a>
Icons made by wanicon from www.flaticon.com
@code {

}
